@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Car Information Project</h1>
    <h2 class="disaply-4">Made by Krushil Dhameliya and Dharm Joshi</h2>
    <p>Here, you can add, remove and edit the required information about the cars.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
